fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt==4.0.1
python-multipart
pydantic-settings
pydantic[email]
email-validator
httpx
anthropic
firebase-admin
razorpay
google-auth
cryptography
resend
